{% extends "base.html" %}

{% block content %}


<div class="col-md-10">
    <h3 class="text-center">{{ encuesta.nombre }}</h3>
    {% for pregunta in preguntas %}
    <div class=" m-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pregunta_{{pregunta.id}}" value="{{pregunta.id}}">
            <label class="form-check-label" for="flexCheckDefault">
                {{pregunta.nombre_campo}}
            </label>
        </div>
    </div>
    {% endfor %}
</div>

{{ encuesta.id|json_script:"json_id_encuesta" }}

{% endblock %}

{% block extra_js %}
<script>

    const id_encuesta = JSON.parse(document.getElementById('json_id_encuesta').textContent)

    const realizarencuestaSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/realizar_encuesta/'
        + id_encuesta
        + '/'
    )

    realizarencuestaSocket.onmessage = e => {
        console.log('onmessage')

        const data = JSON.parse(e.data)

        console.log(data.message)
    }

    realizarencuestaSocket.onclose = e => {
        console.log('onclose')
    }

    document.addEventListener('DOMContentLoaded', e => {
        let checkBoxs = document.getElementsByClassName("form-check-input")
        for (let checkBox of checkBoxs) {
            checkBox.addEventListener('click', e => {
                console.log(`Checkbox de la pregunta ${checkBox.value} cambiado. El valor es ${checkBox.checked}.`)
                console.log(id_encuesta)
                realizarencuestaSocket.send(JSON.stringify({
                    'pregunta_id': checkBox.value,
                    'cheked': checkBox.checked
                }))

            })
        }
    })


</script>
{% endblock %}