{% extends "base.html" %}

{% load filter %}

{% block content %}

<div class="col-md-8 mx-auto">
    <div class="card text-center">
        <div class="card-header" style="background-color: #8cc651;">
            <h4>Encuestas</h4>
        </div>
        <div class="card-body">
            <div class="row">
                {% for encuesta in object_list %}
                <div class="col-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title d-flex" align="left">
                                {{ encuesta.nombre }} {% if not encuesta.ha_sido_diligenciada and not encuesta.estado_terminado %} <a class="ms-auto" href="{% url 'realizar_encuesta' encuesta.pk %}"><i 
                                    style="color: #8cc651;" class="fa-solid fa-pen-to-square"></i></a> {% elif encuesta.estado_terminado %} <a class="ms-auto" href="{% url 'resultados_encuesta' encuesta.id %}">
                                        <i style="color: #8cc651;" class="fa-brands fa-readme"></i></a>{% endif %}
                            </h5>
                            <p align="left">{{ encuesta.descripcion }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h4> No hay aún encuestas para realizar.</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}