{% extends "base.html" %}

{% block content %}

<div class="col-md-6 mx-auto">
    <div class="card text-center">
        <div class="card-header" style="background-color: #8cc651;">
            <h4> {{encuesta.nombre}} </h4>
        </div>
        <div class="card-body">


            <div class="row">
                {% for campo in form %}
                <div class="col-md-12">
                    <div class="mt-2 m-2" style="display: none;">
                        <div align="left">
                            {{ campo.label_tag }}
                        </div>
                        {{campo}}
                        <hr>
                        <div class="justify-content-center mt-2">
                            <button class="btn btn-outline-success"
                                onclick="enviar_respuesta('{{campo.auto_id}}')">Enviar respuesta</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{{ encuesta.id|json_script:"json_id_encuesta" }}
{{ preguntas|json_script:"json_preguntas"}}

{% endblock %}




{% block extra_js %}
<script>

    document.addEventListener('DOMContentLoaded', e => {
        const preguntas = JSON.parse(document.getElementById('json_preguntas').textContent)
        for (pregunta of preguntas) {
            let element = document.getElementById(pregunta.pregunta_id)
            let div = element.parentElement
            if (pregunta.is_active == true) {
                div.style.display = "block"
            } else {
                div.style.display = "none"
            }
        }
    })

    const id_encuesta = JSON.parse(document.getElementById('json_id_encuesta').textContent)

    const realizarencuestaSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/realizar_encuesta/'
        + id_encuesta
        + '/'
    )

    realizarencuestaSocket.onmessage = e => {
        console.log('onmessage')

        let data = JSON.parse(e.data)
        console.log(data)
        if (data.pregunta_id == "Encuesta terminada" && data.checked == "Encuesta terminada") {
            window.location.replace("http://" + window.location.host + "/encuestas/listaencuestas/");
        } else {
            let element = document.getElementById(data.pregunta_id)
            let div = element.parentElement
            if (data.checked == true) {
                div.style.display = "block"
            } else {
                div.style.display = "none"
            }
        }
    }

    realizarencuestaSocket.onclose = e => {
        console.log('onclose')
    }

    const enviar_respuesta = async (pregunta_id) => {

        pregunta_id = pregunta_id.split('_')[1]

        respuesta = document.getElementById(pregunta_id)

        let div = respuesta.parentElement

        respuesta = respuesta.value

        let data = {
            'pk_encuesta': id_encuesta,
            'pk_pregunta': parseInt(pregunta_id),
            'respuesta': respuesta
        }

        url = `{% url 'guardar_respuesta' %}`

        let resultado = await fetch(url, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })

        let data_response = await resultado.json()
        console.log(data_response)

        if (data_response['respuesta'] == true){
            Swal.fire({
                icon: 'success',
                title: 'Tu respuesta ha sido guardada exitosamente.',
                showConfirmButton: false,
                timer: 1200
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Esta pregunta se encuentra inactiva.',
                showConfirmButton: false,
                timer: 1200
            })
        }

        div.style.display = "none"

    }

    $(document).ready(function () {
        $('.class-fecha').datepicker({
            format: 'yyyy-mm-dd',
        });
    });

</script>

{% endblock %}