django==3.2.11
django-widget-tweaks==1.4.11
django-environ==0.8.1
requests==2.27.1
django-extensions==3.1.5
ipython==7.16.3
pyjwt==2.3.0
psycopg2==2.7.5
numpy==1.19.5
channels==3.0.4
channels-redis==3.3.1